@font-face {
    font-family: "SourceSans";
    src: url("SourceSans3-Bold.woff2") format("woff2"),
        url("SourceSans3-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SourceSans";
    src: url("SourceSans3-Regular.woff2") format("woff2"),
        url("SourceSans3-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}