@media screen and (max-width: 1340px) {
    .main-container {
        max-width: 1020px;
    }
    .average-container {
        max-width: 940px;
    }
    .team-bg img:nth-child(2) {
        display: none;
    }
}
@media screen and (max-width: 1060px) {
    .main-title {
        font-size: 36px;
    }
    .md-right {
        margin-right: 20px;
    }
    .main-container {
        max-width: 920px;
    }
    .average-container {
        max-width: 820px;
    }
    .inside-container {
        max-width: 466px;
    }
    .quality {
        font-size: 34px;
        line-height: 42px;
    }
    .slider-item div + div {
        margin-left: 16px;
    }
}
@media screen and (max-width: 960px) {
    body {
        font-size: 18px;
        line-height: 26px;
    }
    .menu {
        font-size: 16px;
    }
    .adress {
        font-size: 14px;
    }
    .adress a + a:not(:last-child) {
        padding: 0 10px;
    }
    .main-container {
        max-width: 820px;
    }
    .average-container {
        max-width: 720px;
    }
    .main-title {
        font-size: 26px;
        line-height: 34px;
    }
    .burger {
        display: initial;
    }
    .burger {
        display: block;
        z-index: 5;
    }
    .header .menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(15, 15, 15, 0.85);
        color: #FFF;
    }
    .header .burger.open + .menu {
        display: flex;
        margin-bottom: 0;
    }
    .header .menu_link {
        position: relative;
        padding-bottom: 5px;
    }
    .header .menu_link {
        font-size: 1.5rem;
    }
    .burger ol, ul {
        padding-left: 2rem;
    }
    .header .menu_item {
        padding: 25px 15px;
    }
    .nav ul li + li {
        margin-left: 0;
    }
    .menu {
        padding: 0;
        text-align: center;
    }
    .menu li {
        font-weight: 500;
        font-size: 26px;
    }
    .menu li + li {
        margin-top: 20px;
    }
    .burger span {
        width: 18px;
        height: 2px;
        background: #323264;
    }
    .burger span:first-child {
        top: 10px;
    }
    .burger span:nth-child(2), .burger span:nth-child(3) {
        top: 18px;
    }
    .burger span:last-child {
        top: 26px;
    }
    .nav-adress a:not(:nth-child(2)) {
        display: none;
    }
    .block {
        display: block;
    }
    .nav, .adress {
        justify-content: space-between;
    }
    .phone {
        color: var(--gray-color);
    }
    .after-dots .phone::after {
        display: none;
    }
    .nav img:first-child {
        display: initial;
    }
    .logo {
        display: none;
    }
    .media-none {
        display: none;
    }
}
@media screen and (max-width: 860px) {
    .main-container, .average-container {
        padding: 0 20px;
    }
    .average-container {
        max-width: 620px;
    }
    .main-container {
        max-width: 720px;
    }
    .nav img:first-child {
        display: none;
    }
    .hide {
        display: initial;
    }
    .inside-container {
        max-width: 380px;
    }
    .quality {
        font-size: 30px;
        line-height: 38px;
    }
    .footer-media {
        flex-direction: column;
        text-align: center;
    }
    .dark-point {
        display: initial;
        align-items: initial;
    }
    .footer-pd-indent {
        padding-left: 0;
    }
    .phone::before, .dark-point::before {
        display: none;
    }
    .footer-tel-indent {
        padding: 0;
    }
    .footer-pd {
        padding-bottom: 118px;
        padding-top: 20px;
    }
    .footer-media p:first-child {
        font-weight: 700;
    }
    .footer-media p:last-child {
        max-width: 310px;
        margin: 0 auto;
    }
    .footer .phone {
        color: black;
    }
    .footer-min-md {
        margin-bottom: 10px;
    }
    .footer-max-md {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 640px) {
    body, .advantages {
        font-size: 14px;
        line-height: 21px;
    }
    .main-container, .average-container {
        max-width: 520px;
    }
    .inside-container {
        max-width: 300px;
    }
    .quality {
        font-size: 21px;
        line-height: 24px;
        margin-left: 10px;
    }
    .md-pd-indent {
        padding: 20px;
    }
}
@media screen and (max-width: 414px) {
    body, .advantages, .quality {
        font-size: 18px;
        line-height: 26px;
    }
    .header {
        padding-top: 20px;
    }
    .nav img:first-child {
        display: none;
    }
    .average-container {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .inside-container {
        max-width: 100%;
    }
    .media-pd-bottom {
        padding-bottom: 20px;
    }
    .average-container .flex {
        display: initial;
    }
    .average-container .md-right {
        margin-right: 0;
    }
    .main-title, .quality {
        font-size: 32px;
        line-height: 37px;
        max-width: 335px;
    }
    .team-bg img:first-child {
        display: none;
    }
    .team-bg img:nth-child(2) {
        display: initial;
    }
    .min-container {
        max-width: 100%;
    }
    .advantages {
        border-left: none;
        border-top: 4px solid #E6E6F0;
        padding-top: 20px;
        padding-left: 0;
    }
    .advantages div + div {
        margin-top: 20px;
    }
    .quality {
        margin-left: 0;
    }
    .footer-pd {
        padding: 20px 0 118px 0;
    }
}