/* ----------------------------------Main Styles--------------------------------------------------------- */
body {
    font-size: 21px;
    line-height: 30px;
    font-family: "TT-Norms";
}
.menu {
    color: #24A3FF;
    font-size: 18px;
    line-height: 21px;
}
.header {
    font-size: 16px;
    line-height: 19px;
}
.address, .translate-button button {
    color: var(--gray-color);   
}
.translate-button .active-trans-btn {
    color: #FFF;
}
.phone::before, .after-dots .phone::after {
    background-image: url(../images/svg/point.svg);
}
.average-container {
    max-width: 1095px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
}
.inside-container {
    max-width: 641px;
}
.advantages {
    border-left: 4px solid #E6E6F0;
    padding-left: 20px;
    color: #323264;
    font-size: 18px;
    line-height: 21px;
}
.min-container {
    max-width: 412px;
}
.advantages div + div {
    margin-top: 40px;
}
.md-bottom {
    margin-bottom: 20px;
}
.md-right {
    margin-right: 42px;
}
.red-color {
    background: linear-gradient(90.13deg, var(--hover-link) 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    color: transparent;
}
.advantages div p:first-child {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}
.before-center {
    display: flex;
    align-items: center;
}
.experience::before {
    width: 22px;
    height: 26px;
    background-image: url("../images/about/svg/Experience.svg");
    margin-right: 10px;
}
.clients::before {
    width: 25px;
    height: 20px;
    background-image: url("../images/about/svg/Clients.svg");
    margin-right: 10px;
}
.pro-bono::before {
    width: 25px;
    height: 25px;
    background-image: url("../images/about/svg/Pro-bono.svg");
    margin-right: 10px;
}
.quality {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    margin-left: 40px;
}
.achievement {
    color: var(--dark-blue);
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}
.md-pd-indent {
    padding-top: 30px;
}
.img-box {
    background: #FFF;
    max-width: 300px;
    width: 100%;
    height: 109px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    font-size: 16px;
    line-height: 19px;
}
.footer-pd {
    padding-top: 30px;
    padding-bottom: 50px;
}
.border-bottom {
    border-bottom: 4px solid #E6E6F0;
}
.phone::before, .after-dots .phone::after {
    background-image: url("../images/svg/dark-point.svg");
}
.dark-point::before {
    background-image: url("../images/svg/dark-point.svg");
    width: 6px;
    height: 6px;
    margin-right: 10px;
}
.phone {
    color: var(--dark-blue);
}
.map-address p:first-child {
    color: var(--dark-blue);
}
.slider .flex {
    display: flex !important;
}
.slick-dotted.slick-slider {
    padding-bottom: 30px;
}