.burger {
    display: none;
    position: relative;
    min-width: 30px;
    min-height: 40px;
}
.burger span {
    position: absolute;
    width: 46px;
    height: 2px;
    background: #272726;
    left: 0;
    transition: all 0.2s linear;
}
.burger.open span {
    background-color: #FFF;
}
.burger span:first-child {
    top: 7px;
}
.burger span:nth-child(2), .burger span:nth-child(3) {
    top: 24px;
}  
.burger span:last-child {
    top: 43px;
}
.burger.open span:first-child {
    top: -5px;
    opacity: 0;
}
.burger.open span:nth-child(2) {
    transform: rotate(45deg);
}
.burger.open span:nth-child(3) {
    transform: rotate(-45deg);
}  
.burger.open span:last-child {
    top: 55px;
    opacity: 0;
}