*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-title: #323264;
    --light-alt: #46466E;
    --hover-link: #F0145A;
    --active-regular: #24A3FF;
    --active-hover: #0085FF;
    --active-active: #006CCF;
    --gray-color: #B3B3BA;;
    --burger-cross: #EC6F5D;
}
body {
    font-family: "TT-Norms";
    font-weight: 400;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s linear;
}
a:not(.active-link, .btn, .btn-more, .btn-public-more, .services):hover {
    color: var(--hover-link);
}
ul {
    list-style: none;
}
.translate-button button {
    font-weight: 700;
}
button {
    background-color: transparent;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
}
.active-trans-btn {
    background: var(--hover-link);
    border-radius: 8px;
    padding: 5px 6px;
    color: #FFF;
}
.translate-button button:not(.active-trans-btn) {
    transition: all 0.3s linear;
    cursor: pointer;
}
.translate-button button:not(.active-trans-btn):hover {
    background-color: #EDEDF7;
    border-radius: 8px;
    padding: 5px;
}
.main-container {
    max-width: 1320px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.text-center {
    text-align: center;
}
.wrap {
    flex-wrap: wrap;
}
.relative {
    position: relative;
}
.item-al-center {
    display: flex;
    align-items: center;
}
.al-flex-start {
    align-items: flex-start;
}
.items-between {
    justify-content: space-between;
    align-items: center;
}
.al-center {
    align-items: center;
}
.main-title {
    background: linear-gradient(90.13deg, var(--hover-link) 0.84%, #EF8080 99.96%);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    font-size: 42px;
    text-transform: none;
    line-height: 49px;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.align-self {
    align-self: flex-start;
}
.phone {
    font-weight: 700;
    line-height: 18px;
}
.before::before, .after::after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.logo span {
    font-size: 38px;
    line-height: 45px;
    color: var(--main-title);
}
.logo::before {
    background-image: url("../images/svg/Logo-Min.svg");
    width: 155px;
    height: 62px;
    margin-right: 5px;
}
.logo::after {
    background-image: url("../images/svg/Symbol-Slash.svg");
    width: 41px;
    height: 46px;
    margin-left: 2px;
}
.after-dots .phone::after {
    content: "";
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
.phone::before {
    content: "";
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
.white-text {
    color: #FFF;
}
.indent-top {
    padding-top: 40px;
}
.indent-bottom {
    margin-bottom: 40px;
}
.gray-background {
    background: #F5F5FA;
}
.hide {
    display: none;
}
.gap {
    gap: 1px;
}
.header {
    padding-top: 50px;
}
.address {
    margin-bottom: 18px;
}
.address div:nth-child(2) {
    margin-left: 20px;
}
.address a + a:not(:last-child) {
    padding: 0 20px;
}
.nav {
    font-size: 18px;
    line-height: 21px;
    justify-content: end;
}
.nav ul li + li {
    margin-left: 15px;
}
.nav ul {
    font-weight: 500;
}
.footer-pd-bottom {
    padding-bottom: 11px;
}
.footer-pd-indent {
    padding-left: 47px;
}
.footer-tel-indent {
    padding: 0 26px 0 17px;
}
.dark-point {
    font-weight: 700;
    color: var(--active-regular);
    line-height: 18px;
    display: flex;
    align-items: center;
}
.slick-dotted.slick-slider {
    margin-bottom: 51px;
}
.slick-dots li button {
    width: 16px;
    height: 16px;
}
.slick-dots li button:before {
    content: "";
    width: 16px;
    height: 16px;
    background: var(--active-regular);
    border-radius: 50%;
}
.active-link {
    color: var(--hover-link);
    border-bottom: 2px solid var(--hover-link);
    font-weight: 500;
}
.btn .btn-more, .btn-public-more, .submit {
    transition: all 0.2s linear;
}
.btn:hover, .btn-more:hover, .btn-public-more:hover, .submit:hover {
    background: var(--active-hover);
}
.btn:focus, .btn-more:focus, .btn-public-more:focus, .submit:focus {
    background: var(--active-active);
}
.footer .phone {
    color: var(--light-alt);
}