.translate-button button:not(:first-child), .address {
    color: var(--gray-color);
}
.menu {
    color: var(--active-regular);
}
.phone::before, .phone::after {
    background-image: url("../images/svg/point.svg");
}
.form-container {
    margin: 80px auto;
    max-width: 1094px;
}
.form-setting {
    font-size: 21px;
    line-height: 26px;
}
.address-block {
    max-width: 414px;
    width: 100%;
}
.address-block a {
    display: block;
    max-width: 50%;
}
.form-block {
    max-width: 527px;
    width: 100%;
}
.address-title {
    max-width: 50%;
}
.dark-blue {
    color: var(--section-title);
}
.blue {
    color: var(--active-regular);
}
.border {
    padding: 40px 0;
    border-top: 4px solid #E6E6F0;
    border-bottom: 4px solid #E6E6F0;
}
.form-container .gray-background {
    border-radius: 12px;
}
.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.facebook-link {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 123px;
}
.address-block img {
    margin-right: 10px;
}
.section-title {
    font-size: 32px;
    line-height: 38px;
}
.dark-point::before {
    background-image: url("../images/svg/dark-point.svg");
    width: 6px;
    height: 6px;
    margin-right: 10px;
}
.footer-pd {
    padding: 32px 0 50px 0;
}