/* ------------------------------------Main-Styles------------------------------------------------------- */
.background-blue {
    background: #323264;
}
.bg-setting {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.background-blue-top {
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}
.background-blue-bottom {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.white-bg {
    background: #FFF;
}
.active-link {
    border-bottom: none;
}
.align-items-start {
    align-items: center !important;
}
.title-indent {
    margin-bottom: 68px;
}
.radius-12px {
    border-radius: 12px;
}
.margin-top {
    margin-top: 61px;
}
.medium-pd-bottom  {
    padding-bottom: 20px;
}
.translate-button button:not(.active-trans-btn):hover {
    background-color: var(--hover-link);
}
/* ---------------------------------End-Main-Styles------------------------------------------------------ */
/* -----------------------------------Header-Styles------------------------------------------------------ */
.frame-bg {
    background: url("../images/main-background.png") no-repeat center;
    width: 100%;
    height: 840px;
    margin-bottom: 60px;
}
.header-trans-bg {
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    position: absolute;
    height: 200px;
    bottom: 0;
    right: 1px;
    max-width: 1440px;
}
.main-box-center {
    max-width: 446px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 50px);
}
.system-adm {
    font-size: 38px;
    text-align: center;
    line-height: 44px;
}
.scroll-button {
    margin: 0 auto;
    width: 42px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3%;
}
.tab-content {
    max-width: 603px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: transparent;
    background: linear-gradient(90.13deg, #EF8080 0.84%, var(--hover-link) 99.96%);
    -webkit-background-clip: text;
    font-weight: 700;
    font-size: 42px;
    text-transform: none;
    line-height: 49px;
}
.nav-link {
    font-size: 42px;
    line-height: 49px;
    color: #B3B3BA;
    text-transform: none;
    font-weight: bold;
    text-align: right;
}
.nav-link:hover {
    color: #ececee;
}
.nav-link {
    padding: 0;
}
.nav-pills button + button {
    padding: 20px 0 0 0;
}
.nav-pills:not(:first-child) .nav-link.active {
    padding-top: 20px;
    border-right: 4px solid var(--hover-link);
}
.phone::before, .after-dots .phone::after {
    background-image: url(../images/svg/point.svg);
}
.tab-title {
    font-size: 32px;
    font-weight: 500;
    color: #FFF;
}
.tab-comment {
    font-size: 21px;
    font-weight: 400;
}
.tab-pane {
    padding-left: 40px;
}
.services-container {
    max-width: 1180px;
    margin: 0 auto;
}
.nav-pills .nav-link {
    padding-right: 40px;
    border-right: 4px solid #E6E6F0;
    border-radius: initial;
}
.nav-pills .active {
    border-right: 4px solid var(--hover-link);
}  
.nav-pills .active {
    position: relative;
}
/* ---------------------------------End-Header-Styles---------------------------------------------------- */
/* ---------------------------------Better-Styles-------------------------------------------------------- */
.better-cont-indent {
    padding: 80px 0;
}
.services {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    opacity: 50%;
    display: flex;
    align-items: center;
}
.services:hover {
    color: #FFF;
    opacity: 50%;
}
.services::after {
    content: "";
    display: block;
    position: relative;
    height: 9px;
    width: 4.5px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5.5px;
    background-image: url("../images/svg/right-arrow.svg");
}
.better-box {
    display: flex;
    flex-direction: column;
    max-width: 413px;
}
.better-icon {
    background: #FFF;
    padding: 14px;
    width: 84px;
    height: 84px;
    border-radius: 24px;
}
.better-box-title {
    margin: 20px 0 15px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #24A3FF;
}
.better-box-comment {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.better-box-indent {
    margin-bottom: 58px;
}
/* ---------------------------------End-Better-Styles---------------------------------------------------- */
/* ---------------------------------Team-Styles---------------------------------------------------------- */
.team-inside-container {
    max-width: 827px;
    padding: 40px 0 0 40px;
}
.focus-link {
    color: var(--active-regular);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.focus-link::after {
    content: "";
    display: block;
    position: relative;
    height: 9px;
    width: 4.5px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5.5px;
    background-image: url("../images/svg/blue-arrow.svg");
}
.team-bottom-indent {
    margin-bottom: 77px;
}
.man-name {
    font-size: 18px;
    line-height: 21px;
    color: var(--gray-color);
    padding-top: 20px;
}
.speciality {
    font-size: 16px;
    line-height: 22px;
    color: var(--gray-color);
    padding-top: 5px;
}
/* ---------------------------------End-Team-Styles------------------------------------------------------ */
/* ---------------------------------Successful-Styles---------------------------------------------------- */
.successful-box {
    max-width: 433px;
    width: 100%;
    background: #F5F5FA;
}
.successful-lf-top {
    border-top-left-radius: 12px;
    padding: 20px 0 20px 20px;
    font-size: 14px;
    color: var(--hover-link);
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
}
.successful-setting {
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 433px;
    width: 100%;
}
.successful-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #686887;
}
.partner {
    font-size: 18px;
    line-height: 26px;
    color: var(--gray-color);
}
.max-box {
    max-width: 452px;
    width: 100%;
    background: #F5F5FA;
}
.wannabiz-text {
    max-width: 414px;
}
.min-height {
    min-height: 198px;
}
.max-height {
    min-height: 255px;
}
.min-box {
    max-width: 320px;
    width: 100%;
    background: #F5F5FA;
}
.min-box-setting {
    max-width: 280px
}
.box-center {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.ultra-box {
    max-width: 565px;
    width: 100%;
    background: #F5F5FA;
}
.br-bottom-left {
    border-bottom-left-radius: 12px;
}
.br-bottom-right {
    border-bottom-right-radius: 12px;
}
.rd-top-right {
    border-top-right-radius: 12px;
}
/* ---------------------------------End-Successful-Styles------------------------------------------------ */
/* ---------------------------------Trust-Styles--------------------------------------------------------- */
.trust {
    font-size: 14px;
    font-weight: 700;
    padding: 30px 0;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: #323264;
}
.trust-container {
    max-width: 1440px;
    margin: 0 auto;
}
.trust-me {
    display: flex;
    flex-wrap: wrap;
}
.trust-me img {
    max-width: 337px;
}
/* ---------------------------------End-Trust-Styles----------------------------------------------------- */
/* ---------------------------------News-Styles---------------------------------------------------------- */
.news-box {
    width: 413px;
    border-radius: 12px;
}
.general-pd {
    padding: 20px;
}
.news-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: var(--active-regular);
}
.news-limite {
    max-width: 372px;
}
.date {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: var(--gray-color);
    border-bottom: 4px solid #E6E6F0;
}
.medium-pd-top {
    padding-top: 20px;
}
.min-pd-bottom {
    padding-bottom: 10px;
}
.masonry {
    column-count: 3;
    column-gap: 2.5em;
    height: 718px;
    border-bottom: 4px solid #E6E6F0;    ;
}
.bricks {
    display: inline-block;
    margin: 0 0 1em;
}
.trans-bg {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
    position: absolute;
    left: 0;
    bottom: 0;
}
.reset-md-bottom {
    margin-bottom: 0;
}
.btn-more {
    display: block;
    background: var(--active-regular);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    padding: 17px 60px;
    position: absolute;
    left: calc(50% - 104px);
    bottom: 45px;
    border-radius: 12px;
    z-index: 1;
}
.btn-more:hover {
    color: #FFF;
}
/* ---------------------------------End-News-Styles------------------------------------------------------ */
/* ---------------------------------Footer-Styles-------------------------------------------------------- */
.footer-pd {
    padding: 32px 0;
}
.dark-point {
    font-weight: 700;
    color: var(--active-regular);
    line-height: 18px;
    display: flex;
    align-items: center;
}
.dark-point::before {
    content: "";
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    background-image: url("../images/svg/dark-point.svg");
}
.footer .phone::before {
    background-image: url("../images/svg/dark-point.svg");
}
.company {
    color: var(--gray-color);
}
/* ---------------------------------End-Footer-Styles---------------------------------------------------- */
/* ---------------------------------Other-Styles-------------------------------------------------------- */
.separate-succesful {
    margin-top: 60px;
}
.separate-background-blue {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.separate-bottom-indent {
    margin-bottom: 20px;
}
.active-link {
    color: var(--hover-link);
    border-bottom: 2px solid var(--hover-link);
    font-weight: 500;
}
.service-links .active-link {
    color: #FFF;
    border-bottom: 2px solid #FFF;
}
/* ---------------------------------Either-Styles-End---------------------------------------------------- */
/* ---------------------------------Slider-Styles-------------------------------------------------------- */
.slider-item {
    display: flex !important;
}
.slick-next::before, .slick-prev:before {
    display: none;
}
.main-slider {
    max-height: 574px;
}
.slick-dotted.slick-slider {
    margin-bottom: 51px;
}
.slick-dots li button {
    width: 16px;
    height: 16px;
}
.slick-dots li button:before {
    content: "";
    width: 16px;
    height: 16px;
    background: var(--active-regular);
    border-radius: 50%;
}
.pills-none .slider {
    display: none;
}
.nav-pills .nav-link {
    transition: all 0.2s linear;
}
.nav-pills .nav-link:hover {
    background: linear-gradient(90.13deg, #EF8080 0.84%, var(--hover-link) 99.96%);
    -webkit-background-clip: text;
    color: transparent;
}
.slick-dots li button::before {
    transition: all 0.2s linear;
}
.slick-dots li button::before:hover {
    background-color: #7cc8ff;
}
/* ---------------------------------End-Slider-Styles---------------------------------------------------- */
.dd::after {
    width: 98%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    background: #CACADB;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0px 0px 12px 12px;
}
.dd::before {
    width: 96%;
    height: 10px;
    position: absolute;
    bottom: -0.9%;
    background: #E7E7F2;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0px 0px 12px 12px;
}