.header {
    padding-bottom: 60px;
}
.menu {
    color: #24A3FF;
    font-size: 18px;
    line-height: 21px;
}
.translate-button button:not(:first-child), .address {
    color: var(--gray-color);
}
.active-link {
    border-bottom: 2px solid var(--hover-link);
}
.masonry {
    min-height: 718px;
    height: 100%;
    border-bottom: none;
}
.min-limit {
    max-width: 360px;
}
.hignest-limit {
    max-width: 345px;
}
.gray-bottom {
    border-bottom: 4px solid #E6E6F0;
}
.btn-public-more {
    display: inline-block;
    padding: 0;
    width: 250px;
    height: 50px;
    background: #24A3FF;
    border-radius: 12px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.public-indent {
    padding: 40px 0 60px 0;
}
.sub-nav {
    max-width: 260px;
    min-height: 40px;
    margin: 0 auto;
    background-color: #E6E6F0;
    flex-direction: row;
    border-radius: 12px;
    margin-bottom: 40px;
    color: var(--dark-blue);
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
}
.sub-nav p {
    max-width: 50%;
    width: 100%;
    padding: 7px 0 8px 0;
}
.news-active {
    background-color: #FFF;
    border-radius: 12px;
}
.border-top {
    border-radius: 12px 12px 0 0;
}