.header {
    color: #FFF;
}
.cover-bg {
    background: linear-gradient(180deg, rgba(50, 50, 100, 0.1) 0%, #323264 100%), 
    url("../images/services-page/cover.png") no-repeat top/100%;
}
.intro-container {
    max-width: 861px;
    margin: 0 auto;
    margin-top: 52px;
    margin-bottom: 80px;
    color: #FFF;
}
.svg-shopping {
    border-radius: 24px;
    margin-bottom: 20px;
    background: #FFF;
    height: 94px;
    width: 94px;
}
.average-bottom {
    margin-bottom: 20px;
}
.intro-setting {
    font-size: 21px;
    line-height: 30px;
}
.blue-bg {
    background: #323264;
}
.active-link {
    color: #FFF;
    border-bottom: 2px solid #FFF;
}
.btn {
    background-color: var(--blue-color);
    max-width: 250px;
    min-height: 50px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.services-container {
    max-width: 1092px;
    margin: 0 auto;
}
.services-title {
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    font-weight: 500;
}
.border-top {
    border-top: 4px solid #B3B3BA;
    padding-top: 20px;
}
.services-comments {
    font-size: 18px;
    line-height: 26px;
    color: #FFF;
}
.comment-box {
    max-width: 500px;
    list-style: initial;
}
.comment-box li {
    margin-left: 20px;
}
.max-pd-bottom {
    padding-bottom: 80px;
}
.comment-box li + li {
    margin-top: 15px;
}
.services-comments ul li::marker {
    width: 6px;
    height: 6px;
    color: var(--hover-link);
}
.successful .main-container {
    margin-top: 80px;
    margin-bottom: 40px;
}
.ff {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background-repeat: no-repeat;
}