@media screen and (max-width: 1440px) {
    .main-container {
        padding: 0 20px;
    }
    .footer-pd {
        padding: 32px 20px 50px 20px;
    }
    .responsibility-content .justify-between {
        justify-content: space-around;
    }
}
@media screen and (max-width: 1000px) {
    .burger {
        display: initial;
    }
    .burger {
        display: block;
        z-index: 5;
    }
    .header .menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(15, 15, 15, 0.85);
        color: #FFF;
    }
    .header .burger.open + .menu {
        display: flex;
        margin-bottom: 0;
    }
    .header .menu_link {
        position: relative;
        padding-bottom: 5px;
    }
    .header .menu_link {
        font-size: 1.5rem;
    }
    .burger ol, ul {
        padding-left: 2rem;
    }
    .header .menu_item {
        padding: 25px 15px;
    }
    .nav {
        display: flex;
    }
    .nav ul li + li {
        margin-left: 0;
    }
    .menu {
        padding: 0;
        text-align: center;
    }
    .menu li {
        font-weight: 500;
        font-size: 26px;
    }
    .menu li + li {
        margin-top: 20px;
    }
    .burger span {
        width: 18px;
        height: 2px;
        background: #323264;
    }
    .burger span:first-child {
        top: 10px;
    }
    .burger span:nth-child(2), .burger span:nth-child(3) {
        top: 18px;
    }
    .burger span:last-child {
        top: 26px;
    }
    .nav-adress a:not(:nth-child(2)) {
        display: none;
    }
    .adress a + a:not(:last-child) {
        padding: 0;
    }
    .phone::before, .after-dots .phone::after {
        display: none;
    }
}
@media screen and (max-width: 880px) {
    .responsibility {
        max-width: 664px;
    }
    .footer-media {
        flex-direction: column;
        text-align: center;
    }
    .dark-point {
        display: initial;
        align-items: initial;
    }
    .footer-pd-indent {
        padding-left: 0;
    }
    .phone::before, .dark-point::before {
        display: none;
    }
    .footer-tel-indent {
        padding: 0;
    }
    .footer-pd {
        padding-bottom: 118px;
        padding-top: 20px;
    }
    .footer-media p:first-child {
        font-weight: 700;
    }
    .footer-media p:last-child {
        max-width: 310px;
        margin: 0 auto;
    }
    .footer .phone {
        color: black;
    }
    .footer-min-md {
        margin-bottom: 10px;
    }
    .footer-max-md {
        margin-bottom: 20px;
    }
    .md-right-min {
        margin-right: 20px;
    }
    .staff-column {
        display: flex;
        width: 100%;
        max-width: 50%;
        align-items: flex-end;
    }
    .staff-column img {
        max-width: 158px;
        border-radius: 12px;
    }
    .staff-column .min-md-indent {
        margin-top: 0;
    }
    .staff-title {
        max-width: 70%;
        font-weight: 700;
    }
    .staff-column .item-al-center {
        display: block;
    }
    .staff div.staff-column:first-child {
        margin-bottom: 0;
    }
    .staff div + div:nth-child(n+3) {
        margin-top: 20px;
    }
    .profession {
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 760px) {
    .staff {
        flex-direction: column;
    }
    .staff div + div {
        margin-top: 20px;
    }
    .responsibility {
        max-width: 435px;
        font-size: 40px;
        line-height: 43px;
    }
}
@media screen and (max-width: 718px) {
    .logo {
        display: none;
    }
    .nav .hide {
        display: initial;
    }
    .block {
        display: block;
    }
    .adress, .nav {
        justify-content: space-between;
    }
    .staff .staff-column .reset-margin {
        margin-top: 0;
    }
    .staff-column {
        max-width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .responsibility {
        max-width: 335px;
        font-size: 32px;
        line-height: 37px;
    }
    .staff-column {
        max-width: 100%;
    }
    .header {
        padding-top: 20px;
    }
}