body {
    font-size: 18px;
    line-height: 22px;
}
.menu {
    color: var(--blue-color);
}
.nav-adress, .translate-button button {
    color: var(--gray-color);
}
.translate-button button:first-child {
    color: #fff;
}
.phone::before, .phone::after {
    background-image: url("../images/svg/point.svg");
}
.responsibility {
    max-width: 864px;
    margin: 80px auto;
}
.staff-column p:last-child {
    color: var(--gray-color);
    padding-top: 5px;
    font-size: 16px;
}
.staff-title {
    color: var(--dark-blue);
}
.min-md-indent {
    margin-top: 20px;
}
.staff div.staff-column:first-child {
    margin-bottom: 40px;
}
.staff-bottom {
    padding-bottom: 60px;
}
.footer-pd {
    padding: 32px 0 50px 0;
}
.footer .phone::before {
    background-image: url("../images/svg/dark-point.svg");
}
.dark-point::before {
    background-image: url(../images/svg/dark-point.svg);
    width: 6px;
    height: 6px;
    margin-right: 10px;
}
.adress, .translate-button button {
    color: var(--gray-color);
}
/* --------------------------------Burger Styles-------------------------------------------------- */
.burger {
    display: none;
    position: relative;
    min-width: 30px;
    min-height: 40px;
}
.burger span {
    position: absolute;
    width: 46px;
    height: 2px;
    background: #272726;
    left: 0;
    transition: all 0.2s linear;
}
.burger.open span {
    background-color: #FFF;
}
.burger span:first-child {
    top: 7px;
}
.burger span:nth-child(2), .burger span:nth-child(3) {
    top: 24px;
}  
.burger span:last-child {
    top: 43px;
}
.burger.open span:first-child {
    top: -5px;
    opacity: 0;
}
.burger.open span:nth-child(2) {
    transform: rotate(45deg);
}
.burger.open span:nth-child(3) {
    transform: rotate(-45deg);
}  
.burger.open span:last-child {
    top: 55px;
    opacity: 0;
}