@media screen and (max-width: 1199px) {
    header nav {
        right: initial;
    }
    nav a {
        padding: 5px 15px;
    }
    ul.menu {
        padding: 0;
    }
    .main-banner {
        padding-top: 80px;
    }
    .banner-text-1, .banner-text-2 {
        font-size: 39px;
    }
    .col-md-6 {
        width: 33.3%;
    }
    .img-service {
        flex: initial;
    }
}
@media screen and (max-width: 991px) {
    header {
        font-size: 12px;
    }
    nav a {
        padding: 5px;
    }
    .main-banner {
        padding-top: 140px;
    }
    .banner-text-1, .banner-text-2, .banner-text-3 {
        font-size: initial;
    }
    span.banner-text-1, span.banner-text-2, p.banner-text-3  {
        font-size: 26px;
    }
    /* .chair img {
        max-width: 110%;
    } */
    .container .phone a::before {
        background-size: contain;
    }
    .section-indent {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .media-center {
        margin: 0 auto;
    }
    .img-service {
        flex: 1;
        text-align: center;
        width: 300px;
    }
    .media-img {
        text-align: center;
        padding-bottom: 15px;
    }
    .col-md-6 {
        width: initial;
    }
}
@media screen and (max-width: 767px) {
    header {
        font-size: 9px;
    }
    ul.menu {
        padding: 0;
    }
    .phone a::before {
        width: 20px;
        height: 20px;
        margin-right: 0.3rem;
    }
    .slider-title {
        padding-left: 0;
        padding-right: 0;
    }
    .main-slider .slick-prev, .main-slider .slick-next {
        display: none !important;
    }
}
@media screen and (max-width: 640px) {
    nav a {
        padding: 5px;
    }
    header .img-lamp {
        display: none;
    }
    .main-banner {
        padding-top: 35px;
    }
    .slider-item {
        flex-wrap: wrap;
    }
    .slider-title {
        padding-left: 30px;
        padding-right: 0;
    }
}
@media screen and (max-width: 425px) {  
    header .container {
        flex-direction: column;
    }
    .menu {
        display: initial;
        text-align: center;
    }
    .slider-title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .item-service {
        display: initial;
    }
    .footer .row {
        flex-direction: column;
        text-align: center;
    }
    .footer-title-contacts {
        margin-left: 0;
    }
    .footer .col-auto + .col-auto {
        margin-top: 15px;
    }
}