@media screen and (min-width: 2000px) {
    .footer-bg::after {
        max-width: 1100px;
    }
}
@media screen and (max-width: 1560px) {
    #s1:checked~.cards #slide4,
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide1,
    #s4:checked~.cards #slide2,
    #s5:checked~.cards #slide3 {
        scale: 0.72;
    }
    #s1:checked~.cards #slide5,
    #s2:checked~.cards #slide1,
    #s3:checked~.cards #slide2,
    #s4:checked~.cards #slide3,
    #s5:checked~.cards #slide4 {
        scale: 0.851;
    }
    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5 {
        scale: 0.9;
    }
    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide1 {
        scale: 0.851;
    }
    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4,
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2 {
        scale: 0.72;
    }
    .container, .stage-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .calc-img::before {
        max-width: 35%;
        background-position: center;
    }
}
@media screen and (max-width: 1300px) {
    #s1:checked~.cards #slide4,
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide1,
    #s4:checked~.cards #slide2,
    #s5:checked~.cards #slide3 {
        scale: 0.62;
    }
    #s1:checked~.cards #slide5,
    #s2:checked~.cards #slide1,
    #s3:checked~.cards #slide2,
    #s4:checked~.cards #slide3,
    #s5:checked~.cards #slide4 {
        scale: 0.7;
    }
    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5 {
        scale: 0.8;
    }
    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide1 {
        scale: 0.7;
    }
    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4,
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2 {
        scale: 0.62;
    }
    .header-phone-block, .buisness-first-wrapper {
        margin-left: 40px;
    }
    .buisness-title {
        font-size: 145px;
        line-height: 166px;
    }
    .line::after {
        width: 246px;
    }
    .baster-item-block {
        margin-top: 22px;
    }
    .buisness-item-mr-top {
        margin-top: 12px;
    }
    .buisness-first-wrapper {
        max-width: 473px;
    }
    .buisness-second-wrapper {
        margin-left: 90px;
    }
    .assortment-car-wrapper {
        padding-right: 0;
    }
    .platform::before {
        left: 0;
        bottom: -12px;
    }
    .assortment-car {
        margin-right: 50px;
    }
    .dodge-platform::before {
        max-width: 86%;
    }
    .auto-car {
        max-width: 79%;
        margin-top: 0;
    }
    .nav-indent {
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 60px;
    }
    .header .btn-on-black-white {
        margin-left: 36px;
    }
    .header-items-wrapper {
        column-gap: 39px;
    }
    .header-logo {
        margin-right: 20px;
    }
    .auto-main-wrapper {
        padding-left: 30px;
    }
    .get-consultation-wrapper {
        margin-left: 50px;
    }
}
@media screen and (max-width: 1100px) {
    .nav,  .header-bg::before,
    .header-bg::after, .footer-bg::after,
    .footer-bg::before {
        display: none;
    }
    .menu {
        display: block;
    }
    #s1:checked~.cards #slide4,
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide1,
    #s4:checked~.cards #slide2,
    #s5:checked~.cards #slide3 {
        scale: 0.5;
    }
    #s1:checked~.cards #slide5,
    #s2:checked~.cards #slide1,
    #s3:checked~.cards #slide2,
    #s4:checked~.cards #slide3,
    #s5:checked~.cards #slide4 {
        scale: 0.6;
    }
    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5 {
        scale: 0.7;
    }
    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide1 {
        scale: 0.6;
    }
    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4,
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2 {
        scale: 0.5;
    }
    .header-bg {
        background-color: var(--black-color);
        padding-bottom: 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-bottom: 50px;
    }
    .nav-indent {
        padding-bottom: 50px;
    }
    .auto-main-wrapper {
        padding-left: 0;
    }
    .dodge-platform::before {
        z-index: 0;
    }
    .line::after {
        top: 98px;
    }
    .baster-car-comment .p1-size {
        font-size: 40px;
    }
    .line .baster-car-item {
        margin-top: 24px;
    }
    .baster-car-comment {
        font-size: 18px;
    }
    .test {
        height: auto;
    }
    .test::before {
        height: 850px;
    }
    .assortment-price {
        font-size: 66px;
    }
    .mazda-platform {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .choose-mazda {
        max-width: 400px;
    }
    .mazda-platform::before {
        width: 400px;
        height: 140px;
        bottom: 0;
    }
    .choose-wrapper {
        max-width: 500px;
    }
    .choose-title {
        padding-top: 40px;
    }
    .calc-bg {
        min-height: 720px;
    }
    .platform {
        max-width: 540px;
    }
    .buisness-title {
        font-size: 88px;
        line-height: 156px;
    }
    .pre-footer-menu {
        column-gap: 158px;
    }
    .footer-bg {
        background-color: var(--black-color);
    }
    .pre-header {
        padding-top: 40px;
    }
}
@media screen and (max-width: 960px) {
    .test::before, .stages-first-block::after, .stages-first-block::before,
    .mazda-platform, .choose-auto .before::before {
        display: none;
    }
    .calc .btn, .assortment-wrapper, .buisness-second-wrapper .btn,
    .assortment-img-wrapper, .assortment-car, .buisness-first-wrapper,
    .buisness-first-item, .baster-car-main  {
        margin-left: auto;
        margin-right: auto;
    }
    .for-buisness-first-block, .for-buisness-second-block,
    .assortment-global-wrapper, .pre-footer-about, .baster-car {
        flex-direction: column;
    }
    .buisness-second-wrapper, .calc-block, .assortment-car,
    .buisness-title, .buisness-first-wrapper, .buisness-title-bottom,
    .baster-car-main {
        text-align: center;
    }
    .assortment-img-wrapper, .dodge-wrapper {
        order: -1;
    }
    .choose-bg {
        height: inherit;
    }
    .stages-wrapper {
        justify-content: space-around;
    }
    .choose-title {
        max-width: 1400px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 90px;
        line-height: 90px;
    }
    .choose-global-wrapper {
        display: block;
    }
    .choose-auto .container {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .choose-parent-wrapper {
        justify-content: center;
        padding: 30px 20px;
        background-color: var(--sald-hover);
        border-radius: 5px;
    }
    .stages-first-block {
        padding-right: 0;
        border-right: none;
        padding-top: 0;
        max-width: 280px;
        padding-right: 10px;
    }
    .stages-second-block {
        max-width: 280px;
        padding-left: 10px;
    }
    .stages-item,
    .stages-second-block .stages-item {
        max-width: 280px;
    }
    .stages-second-block {
        padding-left: 0;
    }
    .stages-second-block .stages-num {
        left: auto;
    }
    .stages-item-header {
        text-align: start;
    }
    .stages-items-indent {
        row-gap: 110px;
    }
    .stage-container {
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .calc-bg {
        min-height: 300px;
        clip-path: none;
        z-index: -1;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .calc-block {
        margin-left: 0;
    }
    .calc-img::before {
        max-width: 28%;
    }
    .price-indent-bottom {
        margin-bottom: 44px;
    }
    .platform::before {
        height: auto;
        min-height: 135px;
        bottom: 0;
    }
    .assortment-car {
        margin-top: 30px;
    }
    .assortment-of-cars {
        margin-top: 110px;
    }
    .buisness-title {
        line-height: 100px;
    }
    .buisness-first-wrapper {
        max-width: 70%;
    }
    .buisness-first-item {
        margin-top: 12px;
        max-width: 70%;
    }
    .for-buisness-second-block {
        margin-top: 20px;
    }
    .buisness-second-wrapper {
        margin-left: 0;
    }
    .for-buisness {
        margin-top: 120px;
    }
    .pre-header-icons-gap {
        column-gap: 28px;
    }
    .pre-footer-about {
        align-items: baseline;
    }
    .get-consultation-wrapper {
        margin-top: 30px;
    }
    .auto-car {
        max-width: 65%;
    }
    .baster-car-comment {
        max-width: 290px;
    }
    .line::after {
        width: 307px;
        height: 1px;
        left: -150.5px;
    }
    .dodge-platform::before {
        max-width: 70%;
    }
    .baster-car-item {
        text-align: left;
    }
    #s1:checked~.cards #slide4,
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide1,
    #s4:checked~.cards #slide2,
    #s5:checked~.cards #slide3 {
        scale: 0.43;
    }
    #s1:checked~.cards #slide5,
    #s2:checked~.cards #slide1,
    #s3:checked~.cards #slide2,
    #s4:checked~.cards #slide3,
    #s5:checked~.cards #slide4 {
        scale: 0.53;
    }
    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5 {
        scale: 0.63;
    }
    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide1 {
        scale: 0.53;
    }
    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4,
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2 {
        scale: 0.43;
    }
}
@media screen and (max-width: 840px) {
    #s1:checked~.cards #slide4,
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide1,
    #s4:checked~.cards #slide2,
    #s5:checked~.cards #slide3 {
        scale: 0.35;
    }
    #s1:checked~.cards #slide5,
    #s2:checked~.cards #slide1,
    #s3:checked~.cards #slide2,
    #s4:checked~.cards #slide3,
    #s5:checked~.cards #slide4 {
        scale: 0.45;
    }
    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5 {
        scale: 0.55;
    }
    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide1 {
        scale: 0.45;
    }
    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4,
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2 {
        scale: 0.35;
    }
}
@media screen and (max-width: 690px) {
    #s1:not(:checked)~.cards #slide1, 
    #s2:not(:checked)~.cards #slide2, 
    #s3:not(:checked)~.cards #slide3, 
    #s4:not(:checked)~.cards #slide4, 
    #s5:not(:checked)~.cards #slide5 {
        filter: none;
    }
    #s1:checked~.cards #slide4,
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide1,
    #s4:checked~.cards #slide2,
    #s5:checked~.cards #slide3 {
        transform: none;
        scale: 1;
    }
    #s1:checked~.cards #slide5,
    #s2:checked~.cards #slide1,
    #s3:checked~.cards #slide2,
    #s4:checked~.cards #slide3,
    #s5:checked~.cards #slide4 {
        transform: none;
        scale: 1;
    }
    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5 {
        scale: 1;
    }
    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide1 {
        transform: none;
        scale: 1;
    }
    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4,
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2 {
        transform: none;
        scale: 1;
    }
    .cards {
        flex-direction: column;
        row-gap: 40px;
    }
    .card-inner {
        min-height: 348px;
    }
    .cards .model-slider-item {
        position: inherit;
    }
    .stages-item-header,  .stages-wrapper,
    .assortment-price {
        text-align: center;
    }
    .stages-num, .calc-img::before,
    .cards .model-slider-item:nth-child(3),
    .cards .model-slider-item:nth-child(4) {
        display: none;
    }
    .assortment-price, .choose-title {
        font-size: 60px;
    }
    .p4-size, .get-consultation-margin-bottom {
        font-size: 18px;
    }
    .choose-title {
        line-height: 60px;
    }
    .h2-size {
        font-size: 24px;
    }
    .get-consultation-wrapper {
        margin-left: 0;
    }
    .choose-comment {
        margin-top: 16px;
    }
    .stages-items-indent {
        row-gap: 66px;
    }
    .stages-second-block {
        margin-top: 66px;
    }
    .stages-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .assortment-wrapper {
        max-width: 535px;
    }
}
@media screen and (max-width: 590px) {
    .second-letter-part, .third-letter-part,
    .from-usa-title {
        text-align: center;
    }
    .model-slider-item {
        max-width: 400px;
    }
    .card-inner {
        min-height: auto;
    }
    .model-slider-item:first-child .card-inner {
        height: 301px;
    }
    .model-slider-item:nth-child(2) .card-inner {
        height: 304px;
    }
    .model-slider-item:last-child .card-inner {
        height: 290px;
    }
    .popular-models .container {
        margin-top: 0;
    }
    .nav-indent {
        padding-left: 0;
        padding-right: 0;
    }
    .pre-footer-menu {
        display: none;
    }
    .dodge-platform::before {
        max-width: 100%;
        right: 0;
    }
    .auto-car {
        max-width: 90%;
    }
    .h1-title {
        font-size: 44px;
        line-height: 50px;
    }
    .from-usa-title {
        font-size: 110px;
        line-height: 110px;
    }
    .first-letter-part {
        justify-content: center;
    }
    .form {
        min-height: 204px;
        height: auto;
    }
    .form-notes {
        min-height: 140px;
    }
    .footer-bg {
        margin-top: 90px;
    }
}
@media screen and (max-width: 490px) {
    .for-buisness-second-block, .assortment-wrapper {
        margin-top: 28px;
    }
    .menu-wrapper-part-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .h2-size {
        font-size: 22px;
    }
    .p2-size {
        font-size: 20px;
    }
    .p4-size {
        font-size: 16px;
    }
    .p5-size {
        font-size: 14px;
    }
    .choose-title {
        font-size: 44px;
        line-height: 44px;
    }
    .h1-title {
        font-size: 42px;
        line-height: 48px;
    }
    .from-usa-title {
        font-size: 100px;
        line-height: 100px;
    }
    .dodge-platform::before {
        height: 190px;
    }
    .auto-main-wrapper {
        height: inherit;
    }
    .assortment-see-more {
        left: 0;
        font-size: 14px;
    }
    .assortment-price {
        font-size: 48px;
    }
    .price-indent-bottom {
        margin-bottom: 32px;
    }
    .platform::before {
        min-height: 78px;
        background-position: right;
    }
    .assortment-car-wrapper {
        max-width: 76%;
    }
    .platform {
        text-align: end;
    }
    .assortment-wrapper {
        max-width: 388px;
    }
    .assortment-item + .assortment-item {
        margin-top: 16px;
    }
    .buisness-title {
        font-size: 70px;
        line-height: 70px;
    }
    .buisness-first-wrapper {
        max-width: 81%;
    }
    .p6-size {
        font-size: 10px;
    }
    .pre-footer .pre-header-icons-gap {
        display: none;
    }
    .pre-header {
        align-items: center;
    }
    .pre-header .none {
        display: block;
    }
    .close {
        top: 16px;
        right: 16px;
    }
}
@media screen and (max-width: 430px) {
    .assortment-wrapper {
        max-width: 230px;
    }
    .buisness-first-wrapper {
        max-width: 72%;
    }
    .calc-bg {
        padding-left: 10px;
        padding-right: 10px;
    }
    .platform::before {
        min-height: 60px;
    }
    .h1-title {
        font-size: 35px;
        line-height: 41px;
    }
    .car-info {
        max-width: 260px;
    }
    .model-slider-item:first-child .card-inner {
        height: 275px;
    }
    .model-slider-item:nth-child(2) .card-inner {
        height: 267px;
    }
    .model-slider-item:last-child .card-inner {
        height: 276px;
    }
    .model-slider-item:last-child .models-item-content {
        margin-top: -44px;
    }
    .dodge-platform {
        min-height: 180px;
    }
    .dodge-platform::before {
        height: 116px;
    }
    .models-img-top-indent {
        padding-top: 12px;
    }
    .models-item-content {
        margin-top: -28px;
    }
    .model-slider-item {
        max-width: 320px;
    }
}